table {
  cursor: default;
}
.gray {
  background-color: rgba(128, 128, 128, 0.8);
}
.gray:hover {
  background-color: rgba(128, 128, 128, 1);
}
.blue {
  background-color: rgba(0, 0, 255, 0.8);
}
.blue:hover {
  background-color: rgba(0, 0, 255, 1);
}
.green {
  background-color: rgba(0, 128, 0, 0.8);
}
.green:hover {
  background-color: rgba(0, 128, 0, 1);
}
.red {
  background-color: rgba(255, 0, 0, 0.8);
}
.red:hover {
  background-color: rgba(255, 0, 0, 1);
}